#navbar {
    margin: 8px 104px;
}
#text-nav {
    font-size: 1.6rem;
    /* margin-right: 20px;
    margin-bottom: 20px; */
}
.btn-franchise {
    border-radius: 30px;
    background-color: transparent;
    color: var(--white);
    padding: 13px 20px;

}
.order-online {
    border-radius: 35px;
    background-color: var(--red);
    padding: 15px 12px;
    color: var(--white);
    border: 1px solid var(--red);
}
#order-span{
    padding: 5px 8px;
    border-radius: 20px;
    /* border: 1px solid var(--white); */
    color: var(--red);
    background-color: var(--white);
}
#home {
    margin-top: 1px;
    margin-right: 10px;
    margin-bottom: 7px;
}
#order {
    margin-right: 5px;
}
/* #Franchise {
     margin-top: 10px;
}  */
.para-1 {
    font-size: 4rem;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 14px;
}

@font-face {
    font-family: futurak;
    src: url(../fonts/futurablack-bt.ttf);
}
#Salt {
    font-family: futurak;
    font-size: 5.2rem;
    font-weight: 400;

}
.text-color-grey {
    color: RGBA(255, 255, 255, 0.7); 
    font-size: 1.6rem;
}
#img {
    background-color: white;
}
/* .para-2 {
    padding-left: 20px;
    padding-right: 20px;
} */
.para-2 {
    /* margin-right: 80px; */
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.order {
   
    margin-left: 230px;
    
    margin-right: 200px;
    margin-bottom: 130px;
}
#btn-order {
    background-color: transparent;
    border-radius: 30px;
    padding: 14px 50px;
    margin-bottom: 50px;
    border: 1px solid var(--white);
    font-size: 1.6rem;
}
.order-btn-1 {
    margin-left: 30px;
}
.order-btn-2 {
    margin-left: 30px;
}
.reserve-btn {
    margin-right: 70px;
}
/* FRANCHISE SECTION STARTED */
#div {
    /* height: 100vh;  */
    padding: 5px 50px;
    padding-bottom: 80px;
}
#salt-pepper-4 {
    font-size: 5.2rem;
    margin-top: 50px;
    margin-bottom: 30px;
}
#express {
    font-size: 4rem;
}
/* .bg-img { */
    /* background-image: url(../assets/bg-image.webp);
    background-repeat: no-repeat; */
    /* text-align: end !important; */
    /* width: 100vw;*/
    
/* } */
/* #S {
    margin-top: 30px !important; 
    margin-right: 30px !important; 

} */
@font-face {
    font-family: butler;
    src: url(../fonts/Butler/Butler_Regular.otf);
}
#salt-pepper {
    font-size: 5rem;
    margin-bottom: 50px;
    /* margin-right: -65px;*/
    margin-top: 70px;  
}  
 
.font-butler {
    font-family: butler;
}


/* .bg-img {
    background-image: url(../assets/bg-image.webp);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    right: 20px;
    width: 100%;
    height: 100vh;
    
}*/
#islamabad {
    font-size: 1.6rem;
    text-align: start;
    margin-bottom: 20px;
    font-weight: 80;
} 
#salt-pepper-2 {
    font-size: 3.2rem;
   
    margin-top: 5px;
}
#address {
    padding: 0px 0px;

    
}
.padd {
    margin-top: 10px;
}
.salt-pepper-3 {
    margin-right: 180px;
    margin-top: 10px;
}
/* #address {
     margin-top: 100px; 
    margin-right: 550px;
    margin-bottom: 550px; 
} */
#add {
    font-size: 1.6rem;
}
#btn-direction {
    background-color: transparent;
    border: 1px solid whitesmoke;
    margin-top: 20px;
    padding: 15px 16px;
}
#btn-span {
    color: var(--red);
    background-color: var(--white);
}
#faisalabad {
 
    font-size: 1.6rem;
    text-align: start;
    margin-bottom: 200px;
    font-weight: 80;
}
.sar {
    font-weight: 300;
    margin-top: 20px;
    font-size: 1.2rem;
}
.padding {
    padding: 5px 5px;
}
.express-franchise {
    padding: 0px 80px;
}
#font-24 {
    font-size: 2.4rem;
    font-weight: 300;
}
#font-14 {
    font-size: 1.4rem;
}
/* #isl {
    margin-right: 70px;
} */
/* about us started */
#introduction {
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}
.container {
    padding: 20px 80px;
}
.row {
    font-size: 1.6rem;
    
}
@font-face {
    font-family: apercu;
    src: url(../fonts/Apercu\ Font\ Family/ApercuRegular);
}
.font-apercu {
    font-family: apercu;
}