@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

:root {
    --red: #ed1c24;
    --white: #ffffff;
    --black: #000000;
    --green: #28a745;
    --grey: #0f0f0f;
}

.bg-black {
    background-color: var(--black);

}
.bg-grey {
    background-color: var(--grey);
}
.bg-green {
    background-color: var(--green);
}
.bg-white {
    background-color: var(--white);
}
.bg-red {
    background-color: var(--red);
}
.text-green {
    color: var(--green);
}
.text-red {
    color: var(--red);
}
.text-white {
    color: var(--white);
}
.text-grey {
    color: var(--grey);
}
.text-center {
    text-align: center;
}
.text-none {
    text-decoration: none;
}
/* display startwed */
.d-flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-around {
    justify-content: space-around;
}
.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.align-start {
    align-items: flex-start;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-row {
    flex-direction: row;
}
.flex.coloumn {
    flex-direction: column;
}
.row-reverse {
    flex-direction: row-reverse;
}
.gap-1{
    gap: 5px;
}
.gap-2{
    gap: 10px;
}
.gap-3{
    gap: 15px;
}
.gap-4{
    gap: 20px;
}
.gap-5{
    gap: 25px;
}
.m-1 {
    margin: 5px;
}
.m-2 {
    margin: 10px;
}
.m-3 {
    margin: 15px;
}
.m-4 {
    margin: 20px;
}
.m-5 {
    margin: 25px;
}
.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 20px;
}
.mt-4 {
    margin-top: 25px;
}
.mt-5 {
    margin-top: 30px;
}
.mt-7 {
    margin-top: 40px;
}
.border {
    border: 1px solid var(--white);
}
.font-futurak {
    font-family: futurak;
}
.border-rounded {
    border-radius: 30px;
    
}